<div
  class="modal fade"
  id="viewVideo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo bộ câu hỏi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/questions/exams/<%- exams._id %>/questions/" method="POST" id='viewVideoForm'>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Câu hỏi</label>
              <input
                type="text"
                class="form-control"
                name="question"
                id="questionVideo_view"
                placeholder="Tên câu hỏi"
              />
            </div>
            <div class="form-group col-md-12" hidden>
              <label for="inputPassword4">Loại câu hỏi</label>
              <input
                type="text"
                class="form-control"
                name="questionType"
                id="questionTypeVideo"
                value="VIDEO"
                
              />
            </div>
            <label>Đáp án</label>
            <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    name="answer"
                    id="view_answerVideo_1"
                    value="1"
                    aria-label="Radio button for following text input"
                    checked
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                name="answerQuestion"
                id="view_answerQuestionVideo_1"
                aria-label="Text input with radio button"
              />
            </div>
            <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    name="answer"
                    id="view_answerVideo_2"
                    value="2"
                    aria-label="Radio button for following text input"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                name="answerQuestion"
                id="view_answerQuestionVideo_2"
                aria-label="Text input with radio button"
              />
            </div>
            <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    name="answer"
                    id="view_answerVideo_3"
                    value="3"
                    aria-label="Radio button for following text input"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                name="answerQuestion"
                id="view_answerQuestionVideo_3"
                aria-label="Text input with radio button"
              />
            </div>
            <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    type="radio"
                    name="answer"
                    id="view_answerVideo_4"
                    value="4"
                    aria-label="Radio button for following text input"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                name="answerQuestion"
                id="view_answerQuestionVideo_4"
                aria-label="Text input with radio button"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button 
              type="submit" 
              class="btn btn-primary"
              >
              Cập nhật
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
