<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông báo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='updateForm' method="POST" enctype="multipart/form-data">
            <input id='news_id' name='news_id' type="text" style="display:none">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Title">Title</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  id="title"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="shortDescription">Mô tả ngắn</label>
                <input
                  type="text"
                  name="shortDescription"
                  class="form-control"
                  id="shortDescription_update"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="content">Mô tả chi tiết</label>
            <textarea
              type="text"
              name="content"
              class="form-control"
              id="content_update"
              rows="3"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Upload hình ảnh</label>
                <input type="file" class="form-control-file" name="file" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Loại thông báo</label>
                <select class="form-control" name="category">
                  <% categories.map(item => { %>
                  <option value="<%- item._id %>"><%- item.title %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
